<%  var a=''; %>
<% if(check==false) a='R'%>
<%- include('partials/'+a+'Header') -%>

<!-- style sheet css -->
<link rel="stylesheet"  href="/css/zHome.css" type="text/css">

<!-- ///////////////////////////////////////////content///////////////////////////////////////// -->

<section id="title">

<div class="headerr">
<div class="inner-headerr flex">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div class="slidder">
          <div class="containertb">
            <div class="slidde x"></div>
            <div class="slidde y"></div>
            <div class="slidde z"></div>
          </div>
          <div class="shadow"></div>
        </div>
      </div>

      <div class="col-lg-6 "   >
        <h1 class="titlemain" >Meet Interesting People Nearby</h1>
        <div class="">
          <button type="button" class="btn btn-dark btn-lg  btnmargin">  <i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg btnmargin"><i class="fab fa-google-play"></i> Download</button>
        </div>
      </div>
    </div>

  </div>


</div>
<svg class="waves" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</section>


<!-- Features -->
<section id="features">
  <div class="row">
    <div class="Features col-lg-4">
      <i class=" icont fas fa-heart fa-5x"></i>
      <h3 class="featuresh3">Easy to use.</h3>
      <p class="featuresPara">So easy to use, even a beginner could exploit the and use it.</p>
    </div>
    <div class="Features col-lg-4 ">
      <i class=" icont fas fa-bullseye fa-5x"></i>
      <h3 class="featuresh3">Elite Clientele</h3>
      <p class="featuresPara">We have the quality or state of being different or diverse</p>
    </div>
    <div class="Features col-lg-4 ">
          <i class=" icont far fa-check-circle fa-5x"></i>
          <h3 class="featuresh3">Guaranteed to work.</h3>
          <p class="featuresPara">Formaly assured the conditions to be fulfilled,</p>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h2 class="testimonialTtext">I no longer have to wait. I've found the best article publishing Plateform. Woow !</h2>
      <div class="testimonialDiv"><img class="testimonial_pic" src="/images/imgNav.jpg" alt="dog-profile"></div>
    </div>
    <div class="carousel-item">
      <h2 class="testimonialTtext">Easiest way to publish and get recongnition. Best Interface ever found.</h2>
      <div class="testimonialDiv"><img class="testimonial_pic" src="/images/imgHim.jpg" alt="lady-profile"></div>
    </div>
    <div class="carousel-item">
      <h2 class="testimonialTtext">Access and Manage your articles from anywhere and anytime...completely Free</h2>
      <div class="testimonialDiv"><img class="testimonial_pic" src="/images/lady-img.jpg" alt="lady-profile"></div>
    </div>
    <div class="carousel-item">
      <h2 class="testimonialTtext">A plateform with multiple APIs to make your interactive session Better...Register Now !</h2>
      <div class="testimonialDiv"><img class="testimonial_pic" src="/images/dog-img.jpg" alt="lady-profile"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon testimonialbutton" ></span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon testimonialbutton" ></span>
  </button>
</div>
</section>


<!-- Pricing -->
<section id="pricing">
  <h2 class="">A Plan for Everyone Needs</h2>
  <p >Simple and affordable price plans for you.</p>
  <div class="pricingDiv">
    <div class="row">

    <div class="pricing_table  col-lg-4 ">
    <div class="card ">
      <div class="cardheadingSP1">
         <h3 class="princingheadingStyle">Beginner</h3>
      </div>
      <div class="cardbody">
        <h2 class="princingheadingStyle">Free</h2>
        <p>Worldwide Distribution</p>
        <p>10 publishment / Week</p>
        <p>Unlimited Usage</p>
        <p>Access unlimited Profiles</p>
        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-dark">Sign Up</button> -->
          <button type="button" class="w-100 btn btn-lg btn-dark buttonradius">Sign Up</button>
      </div>
    </div>
    </div>


    <div class=" pricing_table col-lg-4  ">
    <div class="card ">
      <div class="cardheadingSP1">
         <h3 class="princingheadingStyle">Intermediate</h3>
      </div>
      <div class="cardbody">
        <h2 class="princingheadingStyle">$5 / mo</h2>
        <p>Get Sponsored</p>
        <p>Unlimited Publishment</p>
        <p>Guided Publishing</p>
        <p>Social Media Setup</p>
        <button type="button" class="w-100 btn btn-lg btn-dark buttonradius">Sign Up</button>
      </div>
    </div>
    </div>


    <div class="col pricing_table col-lg-4   ">
    <div class="card">
      <div class="cardheadingSP1">
         <h3 class="princingheadingStyle">Premium</h3>
      </div>
      <div class="cardbody">
        <h2 class="princingheadingStyle">$9 / mo</h2>
        <p>Pirority Listing</p>
        <p>Monitor sales & royalties</p>
        <p>Print-on-Demand</p>
        <p>Connections with Authors</p>
        <button type="button" class="w-100 btn btn-lg btn-dark buttonradius">Sign Up</button>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section id="cta">
  <h3 class="cta-heading">Find Much More Interesting Things... get Register Today</h3>
  <button type="button" class="btn btn-lg btn-light button_cat"><i class="fab fa-apple"></i> Download</button>
  <button type="button" class="btn btn-lg btn-light button_cat"><i class="fab fa-google-play"></i> Download</button>
</section>
f

<!-- Footer -->
<footer id="footer">
  <i class=" footer_icon fab fa-facebook-f "></i>
  <i class=" footer_icon fab fa-instagram"></i>
  <i class=" footer_icon fab fa-twitter"></i>
  <i class=" footer_icon fas fa-envelope-square"></i>
    <p>© Copyright 2020 byAmir</p>
</footer>
</body>
</html>

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

<script type="text/javascript">
  document.getElementById("a").classList.add("active");
</script>
